@font-face {
    font-family: 'monofontoregular';
    src: url('fonts/monofonto-webfont.woff2') format('woff2'),
         url('fonts/monofonto-webfont.woff') format('woff'),
         url('fonts/monofonto-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN-BoldAlternate';
    src: url('fonts/DIN-BoldAlternate.woff2') format('woff2'),
         url('fonts/DIN-BoldAlternate.woff') format('woff'),
         url('fonts/DIN-BoldAlternate.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN-RegularAlternate';
    src: url('fonts/DIN-RegularAlternate.woff2') format('woff2'),
         url('fonts/DIN-RegularAlternate.woff') format('woff'),
         url('fonts/DIN-RegularAlternate.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tinos';
    src: url('fonts/tinos-regular-webfont.woff2') format('woff2'),
         url('fonts/tinos-regular-webfont.woff') format('woff'),
         url('fonts/tinos-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-Light';
    src: url('fonts/raleway-light-webfont.woff2') format('woff2'),
         url('fonts/raleway-light-webfont.woff') format('woff'),
         url('fonts/raleway-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
