.artwork
  width: 100%
  height: 1000px
  background: #fff
  margin: 0
  padding: 0

  +e(header)
    width: 90%
    margin: 0
    padding: 2% 5%
    background: $whole_world_back

    p
      font-family: $body-regular
      font-size: 40px
      text-align: right
      margin: 0
      padding: 0

  +e(wrapper)
    width: 90%
    margin: 0
    padding: 1% 5% 5%
