.info-text-enter
  opacity: 0.01

.info-text-enter.info-text-enter-active
  opacity: 1
  transition: opacity 1000ms ease-in

.info-text-leave
  opacity: 1

.info-text-leave.info-text-leave-active
  opacity: 0.01
  transition: opacity 1ms ease-out

.navigation

  +e(body)
    width: 60%
    margin: 0 20%
    padding: 2% 0 4%

    p
      color: #232323
      font-size: 18px
      font-family: $content-font
      line-height: 1.6
      letter-spacing: 0.04em

  +e(content)
    width: 100%
    max-height: 0
    overflow: hidden
    transition: max-height 2s ease-out

    +m(open)
      width: 100%
      max-height: 2000px
      overflow: hidden
      transition: max-height 2s ease-in

  +e(close)
    display: block
    opacity: 0
    transition: opacity 2s ease-in

    +m(visible)
      opacity: 0.7

    +m(button)
      $size: 50px
      height: $size
      width: $size
      position: absolute
      box-sizing: border-box
      line-height: $size
      display: inline-block
      right: 5%

      &:before, &:after
        $width: 50px
        $height: 5px
        transform: rotate(-45deg)
        content: ''
        position: absolute
        top: 50%
        left: 50%
        margin-top: -$height/2
        margin-left: -$width/2
        display: block
        height: $height
        width: $width
        background-color: #666
        transition: all 0.25s ease-out

      &:after
        transform: rotate(-135deg)

      &:hover
        &:before, &:after
          transform: rotate(0deg)
