.navigation
  width: 90%
  background: $navigation_back
  padding: 1% 5%
  position: relative
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  height: 32px
  top: 0

  +m(pressed)
    height: 600px
    transition: (all, 2s, ease-out)
  //  height: 100%
    z-index: 1001
    background: black



  +e(contact)
    color: $navigation_text
    opacity: 0.7
    font-family: $body-regular
    font-size: 16px
    margin: 0
    padding: 0
    letter-spacing: 0.1em

  +e(links)
    margin: 0
    padding: 0

    a
      color: $navigation_text
      text-decoration: none
      margin: 0
      font-family: $body-regular
      text-transform: uppercase
      padding: 0 0 0 30px
      opacity: 0.5
      font-size: 22px
      letter-spacing: 0.1em
