.portal
  width: 92%
  padding: 4%
  display: block
  background: $portal_back
  transition: $letter-animate

  +e(letters)
    font-family: $mono-base
    color: $aka
    margin: 0
    padding: 0
    font-size: 60px
    font-size: 17.5vw
    word-wrap: break-word
    text-align: justify
    line-height: 1
    letter-spacing: 0.05em
    transition: $letter-animate

    +min-screen(400px)
      font-size: 78px
      font-size: 17.5vw

    +min-screen(500px)
      font-size: 90px
      font-size: 18vw

    +min-screen(600px)
      font-size: 107px
      font-size: 16.2vw

    +min-screen(700px)
      font-size: 127px
      font-size: 16.3vw

    +min-screen(800px)
      font-size: 131px
      font-size: 14.8vw

    +min-screen(900px)
      font-size: 136px
      font-size: 12.6vw

    +min-screen(1000px)
      font-size: 107px
      font-size: 10.2vw

    +min-screen(1100px)
      font-size: 112px
      font-size: 10.2vw

    +min-screen(1200px)
      font-size: 145px
      font-size: 10.3vw

    +min-screen(1300px)
      font-size: 130px
      font-size: 9.1vw

    +min-screen(1400px)
      font-size: 134px
      font-size: 8.2vw

    +min-screen(1500px)
      font-size: 120px
      font-size: 7.2vw

    +min-screen(1600px)
      font-size: 120px
      font-size: 9vw

    a
      text-decoration: none

    +m(hover)
      opacity: 0.1

  +e(aka)
    transition: $letter-animate

  +e(title)
    color: $portal
    transition: $letter-animate

    +m(light-1)
      color: lighten( $portal, 5%)

    +m(light-2)
      color: lighten( $portal, 10%)

  +e(bernard)
    color: $bernard
    transition: $letter-animate

    +m(light-1)
      color: lighten( $bernard, 5%)

    +m(light-2)
      color: lighten( $bernard, 10%)

    +m(light-3)
      color: lighten( $bernard, 15%)

  +e(history)
    color: $history
    transition: $letter-animate

    +m(hover)
      position: relative
      z-index: 1001
      opacity: 1
      transition: $letter-animate

    +m(light)
      color: $history
      transition: $letter-color-animate

    +m(light-1)
      color: lighten( $history, 10%)

    +m(light-2)
      color: lighten( $history, 20%)

  +e(travel)
    color: $travel
    transition: $letter-animate

    +m(hover)
      position: relative
      z-index: 1001
      opacity: 1

    +m(light)
      color: $travel
      transition: $letter-color-animate

    +m(light-1)
      color: lighten( $travel, 15%)

  +e(pullup)
    color: $pullup
    transition: $letter-animate

    +m(hover)
      position: relative
      z-index: 1001
      opacity: 1

    +m(light)
      color: $pullup
      transition: $letter-color-animate

    +m(light-1)
      color: lighten( $pullup, 10%)

    +m(light-2)
      color: lighten( $pullup, 20%)

  +e(smooth)
    color: $smooth
    transition: $letter-animate

    +m(hover)
      position: relative
      z-index: 1001
      opacity: 1

    +m(light)
      color: $smooth
      transition: $letter-color-animate

    +m(light-1)
      color: lighten( $smooth, 10%)

    +m(light-2)
      color: lighten( $smooth, 20%)
